@media (max-width: 992px) {
    .paralax1 {
        width: 100%;
        height: auto;
    }
    
    .wnetrze1 {
        
    }
}

@media (max-width: 480px) {
    .respon {
        width: 100%;
        margin: 0;
    }
}